<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PS4_PKG_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.13.8.0" newVersion="1.13.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PS4_PKG_Tool.Properties.Settings>
      <setting name="RootFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DOWNLOADFOLDER" serializeAs="String">
        <value />
      </setting>
      <setting name="node_js" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="http_server" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BGMEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScanRecursive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="title_id" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="content_id" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Region" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="system_firmware" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="version" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pkg_type" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="category" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="size" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="location" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dsfg" serializeAs="String">
        <value />
      </setting>
      <setting name="SERVERIP" serializeAs="String">
        <value />
      </setting>
      <setting name="PS4IP" serializeAs="String">
        <value />
      </setting>
      <setting name="psvr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="neoEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ps5bc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dontshowthisagain" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AddonPKGColor" serializeAs="String">
        <value>Gainsboro</value>
      </setting>
      <setting name="GamePKGColor" serializeAs="String">
        <value>Gainsboro</value>
      </setting>
      <setting name="PatchPKGColor" serializeAs="String">
        <value>Gainsboro</value>
      </setting>
      <setting name="ColorLabeling" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSortRowAscending" serializeAs="String">
        <value>False</value>
      </setting>
    </PS4_PKG_Tool.Properties.Settings>
  </userSettings>
</configuration>
